@import "tailwindcss";

/* Default font configurations */
body {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

/* Removes arrows in the input - type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@theme {
  --inset-shadow-sm: inset 0 0 3px rgba(0, 0, 0, 0.25); 
  --shadow-sm: 0 0 2px rgba(0, 0, 0, 0.25); 
}