@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Removes arrows in the input - type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes ring when input field is in focus */
input:focus {
  outline: none;
}

@theme {
  --inset-shadow-sm: inset 0 0 3px rgba(0, 0, 0, 0.25);
  --shadow-sm: 0 0 2px rgba(0, 0, 0, 0.25);
}
